body {
    background-color: #0f0f0f;
}

.container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    column-gap: 40px;
    margin-top: 270px;
    margin-left: 270px;
    position: relative;
    transform: translateX(-1800px);
    animation: container forwards 1s ease;
}

@keyframes container {
    to {
        transform: translateX(0px);
    }
}

.box {
    width: 216px;
    height: 384px;
    border-radius: 15px;
}

.icon {
    position: absolute;
    margin-top: -75px;
    margin-left: 280px;
    transform: translateY(-250px);
    animation: icon forwards 1s ease;
}

@keyframes icon {
    to {
        transform: translateY(0px);
    }
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

a {
    text-decoration: none;

}